<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="client-v5" class="by.vabramov.spring.core.course.v5.Client">
        <constructor-arg value="1"/>
        <constructor-arg value="John Smith"/>
    </bean>

    <bean id="app" class="by.vabramov.spring.core.course.v5.App">
        <constructor-arg ref="client-v5"/>
        <constructor-arg ref="cacheFileEventLogger-v5"/>
    </bean>

    <bean id="event" class="by.vabramov.spring.core.course.v5.Event" scope="prototype">
        <constructor-arg name="date">
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg name="dateFormat">
            <bean class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
        </constructor-arg>
    </bean>

    <import resource="loggersV5.xml"/>
</beans>